.commentSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: Roboto;
  color: white;
}

.commentContent {
  width: 100%;
  padding: 20px;
  background-color: #000000;
  text-align: center;
  margin-top: 100px;
}

.h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #9b964d;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 70%;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 7px;
  resize: none;
  text-align: start;
  margin-top: 10px;
  width: 600px;
  display: flex;
}

.textArea {
  height: 300px;
  display: flex;
}
.nameArea {
  display: flex;
}
label {
  display: flex;
}

.ratingStars {
  display: flex;
  justify-content: center;
}

.star {
  color: #ccc;
  cursor: pointer;
  font-size: x-large;
  transition: color 0.2s;
}

.starFilled {
  color: #ffbb00;
  cursor: pointer;
  font-size: x-large;
  transition: color 0.2s;
}

.button {
  margin-top: 10px;
  padding: 8px 16px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 27rem;
  background-color: #f1e20d;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #f3ff058f;
}

.hrDiv {
  display: flex;
  justify-content: center;
  margin: 20px 0;

}

.Hr {
  width: 60%;
  height: 1px;
  background-color: rgb(255, 254, 254);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 20px 20px 20px;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icons a {
  margin: 0 8px;
  color: #007bff;
  font-size: 10px;
  transition: color 0.2s;
}

.socialIcons img {
  filter: invert(89%) sepia(0%) saturate(10%) hue-rotate(259deg) brightness(98%)
    contrast(89%);
  width: 40px;
  height: 40px;
  margin: 40px;
  transition: transform 0.2s ease-in-out;
}
.socialIcons img:hover {
  filter: invert(72%) sepia(66%) saturate(708%) hue-rotate(359deg)
    brightness(102%) contrast(106%);
  transform: translateY(-5px);
  width: 50px;
  height: 50px;
}

.icons a:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .commentContent {
    margin-top: 5px;
  }
  .form {
    height: 60%;
  }
  .textArea {
    height: 150px;
  }
  .h3 {
    font-size: 1.2rem;
  }

  .button {
    width: 100%;
  }
  .icons a {
    font-size: 16px;
    margin: 0 03px;
  }
  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h4 {
    display: none;
  }
  .icons a img {
    width: 40px;
    height: 40px;
    margin: 10px;
  }
  input[type="text"],
  textarea {
    width: 100%;
  }

  .textArea {
    height: 100px;
  }
}

@media (max-width: 480px) {
  .button {
    width: 100%;
  }

  .icons a {
    font-size: 20px;
    margin: 0 5px;
  }

  .icons a img {
    width: 40px;
    height: 40px;
    margin: 20px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0;
  }
  .icons a {
    font-size: 16px;
    margin: 0 03px;
  }
  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h4 {
    display: none;
  }
  .icons a img {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
}
