.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: black;
}

.navbar-wraper {
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-menu {
  display: flex;
  padding: 20px 100px 0;
  list-style: none;
}

.navbar-menu li {
  padding: 30px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  transition: transform 0.2s ease-in-out;
}

.navbar-menu li:hover {
  color: #fece00;
  transform: translateY(-5px);
  font-weight: bold;
}

.hrDiv {
  display: flex;
  justify-content: center;
  margin: 30px 80px;
}

.navbar-underline {
  width: 96%;
  color: white;
  position: absolute;
  bottom: 20%;
}

.navbar-img {
  width: 50px;
  position: absolute;
  left: 5%;
  bottom: 45%;
}

.navbar-hamburger {
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20%;
  bottom: 50%;
  display: none;
}

.hamburger-line {
  width: 35px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
}

.x {
  cursor: pointer;
  position: absolute;
  right: 20%;
  bottom: 90%;
  display: none;
}

.fontawesomeX:hover {
  background-color: darkgray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.fontawesomeX {
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .navbar-img {
    margin-top: 10px;
  }
  .navbar-links {
    display: none;
  }

  .navbar-hamburger {
    display: flex;
    bottom: 30%;
  }

  .navbar-hamburger-hide {
    display: none;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.open {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    background-color: hsl(214, 33%, 46%);
    opacity: 80%;
    align-items: center;
    width: 30%;
    height: 160vh;
    position: fixed;
  }

  .navbar-menu li {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
  }

  .navbar-menu li:hover {
    color: #fece00;
  }

  .x {
    display: flex;
    right: 40px;
    top: 20px;
  }

  .navbar-underline {
    display: none;
  }

  .navbar-img {
    width: 40px;
    left: 10%;
    top: 20%;
  }

  .hrDiv {
    margin: 50px 80px;
  }
}
