.ratingSection {
  /* height: 100vh; */
  width: 100vw;
}

.ratingSection .rating_header {
  margin-top: 0px;
  text-align: right;
  margin-right: 5%;
}
.hr_container {
  display: flex;
  justify-content: center;
  margin: 10px 50px;
}
.hr_heading {
  height: 2px;
  width: 100%;
  background-color: black;
}
.ratingContainer {
  width: 100%;
  text-align: center;
}

.ratingWrapper {
  margin-top: 3%;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.ratingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
  width: 350px;
  height: 500px;
  border-radius: 1.5rem;
  font-size: clamp(0.5rem, 1.2vw, 1rem);
}

.cardHeader {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.ratingText {
  height: 100px;
  font-size: clamp(0.5rem, 1.2vw, 1rem);
}
.hrDiv {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: inherit;
}
.Hr {
  width: 100%;
  font: rgb(255, 253, 253);
}

.ratingStars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: clamp(0.5rem, 1.2vw, 1rem);
}

.starIcon {
  color: #fece00;
}
.rating_number {
  color: gray;
  font-size: clamp(0.5rem, 1.2vw, 1rem);
}

.showmore_btn {
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: #fece00;
  color: gray;
  width: 330px;
  height: 56px;
}
@media (max-width: 375px) {
  .ratingSection .rating_header {
    font-size: 1em;
    margin-right: 12%;
  }
  .ratingWrapper {
    margin-top: 10%;
    flex-direction: column;
    gap: 20px;
  }
  .ratingCard {
    width: 300px;
    height: 120px;
    font-size: clamp(0.7rem, 1.2vw, 1rem);
  }
  .ratingText {
    height: 50px;
    font-size: clamp(0.6rem, 1.2vw, 1rem);
    text-align: left;
  }
  .showmore_btn {
    font-size: 0.7em;
    width: 215px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

/* Media query for viewport width between 378px and 414px */
@media (min-width: 378px) and (max-width: 414px) {
  .ratingSection .rating_header {
    font-size: 1em;
    margin-right: 12%;
  }
  .ratingWrapper {
    margin-top: 10%;
    flex-direction: column;
  }
  .ratingCard {
    width: 300px;
    height: 150px;
    font-size: clamp(0.7rem, 1.2vw, 1rem);
  }
  .ratingText {
    height: 50px;
    font-size: clamp(0.6rem, 1.2vw, 1rem);
    text-align: left;
  }
  .showmore_btn {
    font-size: 0.7em;
    width: 215px;
    height: 40px;
    margin-top: 70px;
    margin-bottom: 30px;
  }
}
@media (min-width: 415px) and (max-width: 900px) {
  .ratingSection .rating_header {
    margin-right: 7%;
    font-size: 1.5em;
  }
  .ratingWrapper {
    margin-top: 7%;
    flex-direction: column;
  }
  .ratingCard {
    width: 500px;
    height: 200px;
    font-size: clamp(1.2rem, 1.2vw, 1rem);
  }
  .ratingText {
    height: 50px;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    text-align: left;
  }
  .showmore_btn {
    width: 290px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
