.hero_comment {
  height: 100vh;
  width: 100vw;
  background-color: #d9d9d9;
  display: flex;
  cursor: pointer;
  font-size: 1em;
}
.right_comment {
  background-color: #fff9f9;
  height: 95%;
  width: 77%;
  margin-right: 0;
  margin-top: 30px;
  text-align: right;
}
.right_commentheader {
  margin-top: 15px;
  margin-right: 10%;
  margin-top: 35px;
  margin-right: 10%;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.right_commenthr {
  width: 100%;
}

.right_comment .container_comment {
  background-color: #d9d9d9;
  margin-left: 10%;
  margin-top: 30px;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper_comment {
  width: 99%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}

.container_comment .div_comment {
  position: relative;
  width: 90%;
  height: auto;
  flex-direction: row-reverse;
  word-wrap: break-word;
  text-align: center;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 15px;
}

.div_comment .comment_messageicon {
  position: absolute;
  left: 9px;
  top: 20px;
  font-size: 1.5rem;
}
.div_comment .comment_xicon {
  text-align: center;
  font-size: 1.5rem;
  color: red;
}
.div_comment .iconcomment_btn {
  position: absolute;
  right: 17px;
  top: 10px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}

.div_comment .divcomment_header {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.div_comment .comment_content {
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.left_comment {
  min-height: 95vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.left_commenth2 {
  margin-top: 104px;
  margin-right: 10%;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.left_comment hr {
  margin-top: 24.9px;
  text-align: center;
  width: 80%;
}
.left_comment h3 {
  margin-top: 15px;
  text-align: center;
}

.left_comment .comments {
  padding-top: 15px;
  text-align: center;
  background-color: black;
  width: 250px;
  height: 50px;
  color: white;
  border-radius: 15px;
  margin-top: 30px;
  font-size: 18px;
}
@media only screen and (max-width: 375px) {
  .hero_comment {
    flex-direction: column;
    justify-content: center;
    font-size: 0.5em;
  }
  .left_comment {
    display: none;
  }
  .right_comment {
    background-color: #fff9f9;
    width: 100%;
    height: 99vh;
    margin: 0px;
    text-align: center;
  }
  .right_comment h2 {
    font-size: 0.9rem;
  }

  .right_comment .container_comment {
    margin-top: 50px;
    margin-left: 2.5%;
    width: 95%;
    height: 65vh;
    font-size: 0.7rem;
  }
  .div_comment .comment_header {
    font-size: 0.9rem;
  }
  .div_comment .comment_content {
    font-size: 0.9rem;
  }
  .div_comment .comment_messageicon {
    top: 10px;
    font-size: 1rem;
  }
  .div_comment .comment_xicon {
    font-size: 1rem;
  }
  .div_comment .iconcomment_btn {
    position: absolute;
    right: 5px;
    top: 0px;
    transform: translate(-5px, -0px);
    width: 40px;
    height: 40px;
  }
  .comment_content {
    font-size: clamp(0.6rem, 1.2vw, 1rem);
  }
  .div_comment .divcomment_header {
    margin-top: 1px;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}
