.hero_home {
  height: 100vh;
  width: 100vw;
  background-color: #d9d9d9;
  display: flex;
  font-size: 1em;
}
.right_home {
  background-color: #fff9f9;
  width: 77%;
  height: 95%;
  margin-right: 0;
  margin-top: 30px;
  text-align: right;
}
.right_home .right_homeheader {
  margin-top: 35px;
  margin-right: 10%;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.right_home .right_homehr {
  width: 100%;
  margin-bottom: 10%;
}
.right_home .right_homecontainer {
  margin: 0 auto;
  background-color: #d9d9d9;
  width: 80%;
  height: 60vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.right_homecontainer .right_homewrapper {
  background-color: #ffffff;
  height: 250px;
  width: 1000px;
  text-align: center;
  border-radius: 15px;
  position: relative;
  font-size: 20px;
}
.right_homewrapper .right_homeh3 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.right_homewrapper .home_faMessage {
  position: absolute;
  left: 50px;
  top: 30px;
  font-size: 2.5rem;
  color: black;
}
.right_homewrapper .home_faPenToSquare {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 2.5rem;
  color: black;
}

.left_home {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-align: center;
  position: relative;
}
.left_home .left_homeheader {
  margin-top: 107px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
.left_home .left_homehr {
  margin-top: 25.9px;
  width: 80%;
  text-align: center;
  margin-bottom: 20px;
}
.left_home .left_homeh3 {
  margin-top: 20px;
}
.left_home .left_homebtn {
  margin-top: 15px;
  background-color: white;
  width: 250px;
  height: 60px;
  color: #706a6a;
  text-align: center;
  border-radius: 5px;
  margin-top: 30px;
}
.left_home .unReadComments {
  background-color: red;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 290px;
  top: 209px;
  font-size: 18px;
}
@media only screen and (max-width: 375px) {
  .hero_home {
    position: relative;
    font-size: 0.7em;
  }
  .right_home {
    position: absolute;
    top: 0.2%;
    left: 3%;
    width: 95%;
    height: 90vh;
    text-align: center;
  }

  .right_home .right_homehr {
    margin-bottom: 5%;
  }

  .right_home .right_homecontainer {
    width: 95%;
    height: 65vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
  .right_homecontainer .right_homewrapper {
    position: relative;
    margin-bottom: 5px;
    height: 150px;
    width: 95%;
    text-align: center;
    border-radius: 15px;
    margin: 0px;
    font-size: 14px;
  }
  .right_homewrapper .right_homeh3 {
    font-size: 20px;
  }
  .right_homewrapper .home_faMessage {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 1.5rem;
  }
  .right_homewrapper .home_faPenToSquare {
    position: absolute;
    left: 10px;
    top: 13px;
    font-size: 1.5rem;
  }

  .left_home {
    display: none;
  }
}
